.topBar {
    margin: 16px 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.search {
    flex: 1;
    background-color: #f1f1f1;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.search input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    outline: none;
}